.mw-related-images {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
}

.mw-related-images,
.mw-related-images pre {
	/* This widget is not ready to be shown, it will be prepared and unhidden by JavaScript */
	display: none;
}

.mw-related-images img {
	margin-right: 5px;
}

#mw-related-images-table {
	width: 100%;
}

#mw-related-images-table td {
	vertical-align: top;
}

#mw-related-images-wrapper {
	width: 300px;
}
